@model List<Alunos>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-secondary mb-5" role="alert">
  <h2> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
</svg>   App Escola</h2>
</div>


<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1 class="h1">#1 Turma</h1>
        </div>



    </div>
    <div class="row">
        <div class="col">
            <input 
                class="form-control form-control-lg" 
                type="text" 
                placeholder="Digite o nome do aluno..." 
                aria-label="Digite o nome do aluno..."
            />
        </div>
        <div class="col-auto mb-5">
            <button class="btn btn-lg btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
            </button>
        </div>
    </div>




      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
                    @foreach(var aluno in Model)
                {

                    @if (aluno.status == "Reprovado")
                    {
                          <tr class="table-danger">
                          <th scope="row">@aluno.id</th>
                          <td>@aluno.nome</td>
                          <td>@aluno.sobrenome</td>
                          <td>@aluno.status</td></tr>

                    } 

                    else if (aluno.status == "Recuperação")
                    {
                          <tr class="table-warning"><th scope="row">@aluno.id</th>
                          <td>@aluno.nome</td>
                          <td>@aluno.sobrenome</td>
                          <td>@aluno.status</td></tr>
                    } else {
                
                        <tr>
                          <th scope="row">@aluno.id</th>
                          <td>@aluno.nome</td>
                          <td>@aluno.sobrenome</td>
                          <td>@aluno.status</td>
                        </tr>

                    }
                    
                }


      </tbody>
    </table>

